h1 {
  text-align: center;
}

.animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem; 
  padding-left: 2rem;
  padding-right: 2rem;

  .animal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .animal-img {
      object-fit: cover;
      border: 10px dotted rgb(233, 146, 111); 
      border-radius: 50%; 
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
        border: 11px dotted rgb(99, 226, 41); 
        cursor: pointer;
      }
    }
  }
  
}